.container-4 {
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: 3.2rem;
}

.container-4 input#search{
  width: 80%;
  height: 41px;
  background: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgray;
  font-size: 10pt;
  color: #65737e;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}

button.icon{
  border: none;
  background: white;
  color: #505050;
  opacity: 0;
  font-size: 125%;
  outline: none;
  opacity: 1;
  cursor: pointer;
}

.box {
  position: absolute;
  top: 1rem;
  right: 1rem;
}


/* lateral block*/
.social-share {
  padding-bottom: 40px;
}
.social-share a {
  font-size: 2rem;
  color: #65737e;
}
.social-share .fa-linkedin-square:hover {
  color: #1884bb;
}
.social-share .fa-twitter-square:hover {
  color: #55acee;
}
.social-share .fa-github-square:hover {
  color: lightgray;
}
.social-share .fa-facebook-square:hover {
  color: #425f9c;
}
.social-share .fa-google-plus-square:hover {
  color: #dd4b39;
}
.arrow_box {
  position: relative;
  background-color: #fff;
  border: 1px solid lightgray;
  height: 40px;
  width: 63px;
  border-radius: 5px;
  margin-top: 3px;
  font-size: 75%;
  line-height: 35px;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: lightgray;
  border-width: 5px;
  margin-left: -5px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: lightgray;
  border-width: 8px;
  margin-left: -8px;
}
.tw {
    line-height: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

.social-counter {
    color: #C3C3C3;
    float: left;
    margin-left: 7px;
    margin-top: 6px;
}
.article-footer {
  display: none;
  transition: all 0.3s ease-in-out 0s;
}
.article-footer:hover {
  opacity: 1;
}
@media (min-width: 56em) {
  .article-footer {
    float: right;
    max-width: 170px;
    padding-bottom: 80px;
    opacity: 0.5;
    display: inline;
  }
}
.article-footer.absolute {
    position: absolute;
    top: 236px;
    right: 50%;
    margin-right: -30rem;
    font-weight: 500;
}
.article-footer.fixed {
    position: fixed;
    top: 40px;
    right: 50%;
    margin-right: -30rem;
    font-weight: 500;
}
.article-footer-item {
    padding-bottom: 40px;
    width: 150px;
}
.article-footer {
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
} 
.article-footer-title {
    color: #C3C3C3;
}
.essb_links_list {
  list-style-type: none;
  margin-left: 0px;
}

/* images tag cloud */
.page-tag {
  float: left;
  margin: 1.0rem;
  opacity: 0.5;
  transition: all 0.3s ease-in-out 0s;
}
.page-tag:hover {
  opacity: 1;
}
.page-tag > img {
  max-width: 8rem;
}

/* email subscribe box */
.email-box {
    background: #f7fafb none repeat scroll 0 0;
    border: 1px solid #dcecf4;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 1) inset;
    margin: 50px 0 0 0;
    padding: 40px 50px 50px;
    text-align: center;
}
.email-box-heading {
    font-size: 1.4rem;
    margin: 0;
}
.email-box-subheading {
    color: #999;
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0;
}
.email-box-form {
    margin: 3rem 0;
    position: relative;
}
*::-moz-selection {
    background: #d6edff none repeat scroll 0 0;
}
.email-box {
    text-align: center;
}
.email-box-form input {
    -moz-appearance: none;
    border: 1px solid #bbc7cc !important;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    box-sizing: border-box;
    height: 40px;
    margin: 0 280px 0 0;
    padding: 0 1rem;
    width: 100%;
    font-size: 75%;
}
.email-box-form button {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #5bbee5 0%, #5294ce 100%) repeat scroll 0 0;
    border: 1px solid #5294ce;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    box-sizing: border-box;
    color: #fff;
    font-size: 2.7vw;
    height: 40px;
    position: absolute;
    right: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 10;
    cursor: pointer;
}
@media (min-width: 56em) {
  .email-box-form button {
    width: 280px;
    font-size: 0.8rem;
  }
}

.email-box-description {
    color: #999;
    font-size: 0.8rem;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    margin: 0;
}
#mc_embed_signup form {
    padding: 0 !important;
} 
#mc_embed_signup .mc-field-group {
    width: 100% !important;
}
#mc_embed_signup div.response {
    font-size: 0.8rem !important;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
}

/* Cookie consent styles */
.cc-nb-text {
  display: none !important;
}

/* style the copy in clipboard button */
pre {
  position: relative;
}

pre:hover button {
  display: inline-block;
}

button.copy {
  position: absolute;
  top: 1em;
  right: 1em;
  display: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  padding: 0 5px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #d1d5da;
  color: #24292e;
  border-radius: 3px;
}

button.copy:hover {
  /* style the button when it is hovered over */
  background-color: rgba(27, 31, 35, 0.05);
  color: #24292e;
}

button.copy:active {
  /* style the button when it is active (clicked on) */
  background-color: rgba(27, 31, 35, 0.05);
  border-color: #0366d6;
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
  color: #0366d6;
}


