/* http://codepen.io/asawilliams/pen/jFieq */
.container-4 {
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: 3.2rem;
}

.container-4 input#search{
  width: 80%;
  height: 41px;
  background: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgray;
  font-size: 10pt;
  color: #65737e;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}

button.icon{
  border: none;
  background: white;
  color: #505050;
  opacity: 0;
  font-size: 125%;
  outline: none;
  opacity: 1;
  cursor: pointer;
}

.box {
  position: absolute;
  top: 1rem;
  right: 1rem;
}


/* lateral block*/
.social-share {
  margin-bottom: 2em;
}
.social-share a {
  font-size: 2rem;
  color: #65737e;
}
.social-share .fa-linkedin-square:hover {
  color: #1884bb;
}
.social-share .fa-twitter-square:hover {
  color: #55acee;
}
.social-share .fa-facebook-square:hover {
  color: #425f9c;
}
.social-share .fa-google-plus-square:hover {
  color: #dd4b39;
}
.arrow_box {
  position: relative;
  background-color: #fff;
  border: 1px solid lightgray;
  height: 40px;
  width: 63px;
  border-radius: 5px;
  margin-top: 3px;
  font-size: 75%;
  line-height: 35px;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: lightgray;
  border-width: 5px;
  margin-left: -5px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: lightgray;
  border-width: 8px;
  margin-left: -8px;
}
.tw {
    line-height: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

.social-counter {
    color: #C3C3C3;
    float: left;
    margin-left: 7px;
    margin-top: 6px;
}
.article-footer {
    display: none;
}
@media (min-width: 56em) {
  .article-footer {
    float: right;
    max-width: 200px;
    padding-bottom: 80px;
    opacity: 0.8;
    display: inline;
  }
}
.article-footer.absolute {
    position: absolute;
    top: 236px;
    right: 50%;
    margin-right: -30rem;
    font-weight: 500;
}
.article-footer.fixed {
    position: fixed;
    top: 40px;
    right: 50%;
    margin-right: -30rem;
    font-weight: 500;
}
.article-footer-item {
    padding-bottom: 40px;
    width: 150px;
}
.article-footer {
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
} 
.article-footer-title {
    color: #C3C3C3;
}
.essb_links_list {
  list-style-type: none;
  margin-left: 0px;
}