<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- AUTHOR DATAS -->
  <meta name="author" content="Igor Moiseev">

  <!-- WEBMENTION -->
  <link rel="pingback" href="https://webmention.io/{{ site.webmention.username }}/xmlrpc" data-proofer-ignore />
  <link rel="webmention" href="https://webmention.io/{{ site.webmention.username }}/webmention" data-proofer-ignore />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}

  {% if page.tags %}
    <meta name="keywords" content="{{ page.tags| join:',' }}">
  {% endif %}

  {% if page.title and page.title != "Home" %}
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ page.title }}">
    {% if page.description %}
      <meta itemprop="description" content="{{ page.description }}">
    {% endif %}
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/igor.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Cookie consent styles -->
  <style>
    .cc-nb-text {
      display: none !important;
    }
  </style>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/images/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/images/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- SEARCH -->
  <script src="/public/js/lunr.min.js"></script>
  <script src="/public/js/search.js"></script>

  <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js?rev=276"></script>
  <![endif]-->

  <script type="text/javascript">
    window.MathJax = {
      tex: {
        packages: ['base', 'ams']
      },
      loader: {
        load: ['ui/menu', '[tex]/ams']
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

  <!-- Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->
  <script type="text/javascript" src="https://www.freeprivacypolicy.com/public/cookie-consent/4.0.0/cookie-consent.js" charset="UTF-8"></script>
  <script type="text/javascript" charset="UTF-8">
    document.addEventListener('DOMContentLoaded', function () {
      cookieconsent.run({
        "notice_banner_type":"headline",
        "consent_type":"express",
        "palette":"light",
        "language":"en",
        "page_load_consent_levels":["strictly-necessary", "tracking"],
        "notice_banner_reject_button_hide":false,
        "preferences_center_close_button_hide":false,
        "page_refresh_confirmation_buttons":false
      });
    });
  </script>

  <noscript>Cookie Consent by <a href="https://www.freeprivacypolicy.com/" rel="noopener">Free Privacy Policy Generator</a></noscript>
  <!-- End Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->
  <a href="#" id="open_preferences_center">Update cookies preferences</a>

  <!-- Google tag (gtag.js) -->
  <script type="text/plain" cookie-consent="tracking">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.googletagmanager.com/gtag/js?id=G-5QEQZR22Y2','ga');

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QEQZR22Y2');
  </script>

</head>
