<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p><img src="/public/images/igor-220.jpg" alt="Igor Moiseev"></p>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" and node.group == "navigation" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <div class="social-share" style="padding-bottom: 0;">
      <div style="float: left; margin-right: 5px;">
        <a
          rel="me"
          class="social-share-element"
          href="https://www.linkedin.com/in/moiseevigor"
          target="_blank"
          title="Igor on LinkedIn"><i id="icon-search-button" class="fa fa-linkedin-square"></i></a>
      </div>
      <div style="float: left; margin-right: 5px;">
        <a
          rel="me"
          class="social-share-element"
          href="http://twitter.com/moiseev_igor"
          target="_blank"
          title="Igor on Twitter"><i id="icon-search-button" class="fa fa-twitter-square"></i></a>
      </div>

      <div style="float: left; margin-right: 5px;">
        <a
          rel="me"
          href="http://github.com/moiseevigor/"
          target="_blank"
          title="Igor on Github"><i id="icon-search-button" class="fa fa-github-square"></i></a>
      </div>

      <div style="float: left; margin-right: 5px;">
        <a
          rel="me"
          href="https://www.facebook.com/moiseev.igor"
          target="_blank"
          title="Igor on Facebook"><i id="icon-search-button" class="fa fa-facebook-square"></i></a>
      </div>

      <div style="float: left; margin-right: 5px;">
        <a
          rel="me"
          class="social-share-element"
          href="https://plus.google.com/+IgorMoiseevAdventurer"
          target="_blank"
          title="Igor on Google+"><i id="icon-search-button" class="fa fa-google-plus-square"></i></a>
      </div>
      <div style="clear: both;"></div> 
    </div>
  </div>  

  <div class="sidebar-item" style="padding-bottom: 0;">
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
  </div>
</div>
