{% comment %}<!--
The tagged posts list

  example:

      {% include tagged_posts_list.html %}

-->{% endcomment %}


<div class="related">
  <h2>{{ page.title }}</h2>
  <ul class="related-posts">
    {% for post in site.posts %}
      {% if post.tags contains page.tag %}
        <li style="margin-bottom: 1.5rem;">
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
              <br>
              <small>{{ post.description }}</small>
            </a>
          </h3>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>


<img id="ads_logo" alt="ads" src="/public/images/ads.png" style="max-width: 20px;" />
<div class="image-grid">
  {% include page_tags_list_books.html %}
</div>
<div style="margin-top:1em; font-size: 0.75em; color: #999;">
  {% include amazon_affiliate.html -%}
</div>