<div class="related">
  <img id="ads_logo" alt="ads" src="/public/images/ads.png" style="max-width: 20px;" />
  <div class="image-grid">
    {% include page_tags_list_books.html %}
  </div>

  {% include amazon_affiliate.html -%}
</div>

<div class="related">
  <h2>{{ page.title }}</h2>
  <ul class="related-posts">
    {% for post in site.posts %}
      {% if post.tags contains page.tag %}
        <li style="margin-bottom: 1.5rem;">
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
              <br>
              <small>{{ post.description }}</small>
            </a>
          </h3>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>