---
layout: default
---

<style>
.edit {
  font: 0.5em FontAwesome;
  margin: 10px;
  color: #9A9A9A;
}
.edit a {
  color: #9A9A9A;
}
.edit:before {
  content: "\f044"
}
</style>

<div class="post">
  <h1 class="post-title">{{ page.title }}<sup class="edit">{% include edit.html %}</sup></h1>
  <span class="post-date">{{ page.date | date_to_string }} {% include minute-to-read.html %}</span>
  {{ content }}
</div>

<script type="text/javascript">
window.addEventListener("scroll",navbar_reset_top,false);

var navbar_top = 196;

function navbar_reset_top() {
  var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
  var navbar = document.getElementById("navbar");

  if(scrollTop>navbar_top && navbar.className==="article-footer absolute") {
    navbar.className="article-footer fixed";
  }
  else if(scrollTop<navbar_top && navbar.className==="article-footer fixed") {
    navbar.className="article-footer absolute";
  }
}
</script>

<footer id="navbar" class="article-footer absolute">
  <div class="article-footer-item">
    <a title="Comments" class="link-comments" href="#disqus_thread">
      <span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ page.url }}">&nbsp;&nbsp;&nbsp;Comments</span>
    </a>
    <span id="mentions-count" data-indieweb-comment-count data-url="{{ site.url }}{{ page.url }}"></span>
  </div>
  <div class="article-footer-item">
    <div class="tags-title article-footer-title">
      Categories
    </div>
    <a title="{{ page.categories }}" href="/categories/#{{ page.categories }}" rel="category tag">
      {{ page.categories }}
    </a>
  </div>
  <div class="article-footer-item">
    <div class="tags-title article-footer-title">
      Tags
    </div>
    {% include page_tags_list_comma.html %}
  </div>

  <div class="social-share">
    <div>
      <div style="float: left;">
        <a
          class="social-share-element"
          id="social-linkedin"
          href="http://www.linkedin.com/shareArticle?mini=true&amp;title={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;source={{ site.url }}"
          target="_blank"
          title="Share this post on LinkedIn"><i class="fa fa-linkedin-square"></i></a>
      </div>
      <div id="social-linkedin-counter" class="social-counter"></div>
    </div>

    <div style="clear: both;"></div> 

    <div>
      <div style="float: left;">
        <a
          class="social-share-element"
          id="social-twitter"
          href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via=moiseev_igor&amp;hashtags={{ page.keywords }}"
          target="_blank"
          title="Share this post on Twitter"><i class="fa fa-twitter-square"></i></a>
      </div>
      <div id="social-twitter-counter" class="social-counter"></div>
    </div>

    <div style="clear: both;"></div> 

    <div>
      <div style="float: left;">
        <a
            id="social-facebook"
            href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&amp;u={{ site.url }}{{ page.url }}"
            target="_blank"
            title="Share this post on Facebook"><i class="fa fa-facebook-square"></i></a>
      </div>
      <div id="social-facebook-counter" class="social-counter"></div>
    </div>

    <div style="clear: both;"></div> 

    <div>
      <div style="float: left;">
        <a
          class="social-share-element"
          id="social-google-plus"
          href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
          target="_blank"
          title="Share this post on Google+"><i class="fa fa-google-plus-square"></i></a>
      </div>
      <div id="social-google-plus-counter" class="social-counter"></div>
    </div>
    <div style="clear: both;"></div> 
  </div>

</footer>

<script>
function getJSON(path, callback) {

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.overrideMimeType('application/json');

    xmlhttp.onreadystatechange = function() {
        ready = (xmlhttp.readyState == 4 && xmlhttp.status == 200);
        callback(ready ? JSON.parse(xmlhttp.responseText) : false);
    };

    xmlhttp.open('GET', path, true);
    xmlhttp.send();

};

function get_counters(requrl, url, callb) {
  var script = document.createElement('script');

  url = encodeURIComponent(url);
  script.src = requrl + url + '&callback=' + callb;
  document.getElementsByTagName('head')[0].appendChild(script);
}

function callback_twitter(data) {
  if(data)
    document.getElementById('social-twitter-counter').innerHTML = data.count;
  else
    document.getElementById('social-twitter-counter').innerHTML = 0;
}

function callback_linkedin(data) {
  document.getElementById('social-linkedin-counter').innerHTML = data.count;
}

function callback_facebook(data) {
  if(data.shares)
    document.getElementById('social-facebook-counter').innerHTML = data.shares;
  else
    document.getElementById('social-facebook-counter').innerHTML = 0;
}

var services = {
  gplus: {
      cb: function (data) {
      document.getElementById('social-google-plus-counter').innerHTML = data;
    }
  }
}

getJSON('http://webmention.io/api/count?target=' + '{{ site.url }}{{ page.url }}', function (data) {
  if(data.count > 0)
    document.getElementById('mentions-count').innerHTML = data.count + '&nbsp;Mentions';
});

//get_counters('http://urls.api.twitter.com/1/urls/count.json?url=', '{{ site.url }}{{ page.url }}', 'callback_twitter');
get_counters('https://graph.facebook.com/?id=', '{{ site.url }}{{ page.url }}', 'callback_facebook');
get_counters('http://www.linkedin.com/countserv/count/share?url=', '{{ site.url }}{{ page.url }}', 'callback_linkedin');
get_counters('http://share.yandex.ru/gpp.xml?url=', '{{ site.url }}{{ page.url }}', 'services.gplus.cb');

</script>


{% assign email_subscription_message_heading = 'Hope I helped you a bit!' %}
{% assign email_subscription_message_caption = 'Please support my effort.' %}
{% include email_box.html %}


<div class="related" align="center" style="text-align:center">
    {% include page_tags_list.html %}
</div>
<div style="clear: both;"></div>


<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      {% if post.title !=  page.title %}
        <li>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% if page.comments %}
  {% include discus.html %}
{% endif %}